<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Emporium' %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert2@7.18.0/dist/sweetalert2.all.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>
  </head>
  <body>
    <div id="header">
      <h1 id="logo">Emporium&trade;</h1>
      <h2 id="slogan">Books on Rails</h2>
    </div>
    <div id="menu">
      <ul>
        <li><a href="/admin/author">Authors</a>&nbsp;|&nbsp;</li>
        <li><a href="/admin/publishers">Publishers</a>&nbsp;|&nbsp;</li>
        <li><a href="/admin/books">Books</a>&nbsp;|&nbsp;</li>
        <li><a href="/">Catalog</a>&nbsp;|&nbsp;</li>
        <li><a href="/about/index">About</a>&nbsp;</li>
      </ul>
    </div>
    <div id="content">
      <%= "<h1>#{@page_title}</h1>".html_safe if @page_title %>
      <% if flash[:notice] %>
        <div id="notice">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <% if @cart %>
      <div id="shopping_cart">
        <%= render :partial => "cart/cart" %>
      </div>
      <%= drop_receiving_element("shopping_cart", :url =>
      { :controller => "cart", :action => "add" }) %>
    <% end %>
    <div id="footer">
      &copy; 2016 Emporium
    </div>
  </body>
</html>
